---
import { Image } from 'astro:assets'
import FormattedDate from '@components/utils/FormattedDate.astro'
import ClockIcon from '@icons/clock.astro'
import FolderIcon from '@icons/folder.astro'
import type { BlogArticles } from 'src/types/BlogArticles.astro'

interface Props {
  blogs: BlogArticles[]
}

const { blogs } = Astro.props

const gridConfigs = [
  { cols: 'grid-cols-1 md:grid-cols-3 lg:grid-cols-3', slice: [0, 3] },
  { cols: 'grid-cols-1 md:grid-cols-3 lg:grid-cols-4', slice: [3, 11] },
]
---

<div class="grid grid-cols-12 gap-4">
  {
    gridConfigs.map(({ cols, slice }) => (
      <div class={`col-span-12 grid ${cols} gap-6`}>
        {blogs.slice(...slice).map((blog) => (
          <div class="col-span-1">
            <article
              aria-labelledby={blog.slug}
              data-href={`/blogs/${blog.slug}`}
              class="grid grid-rows-[auto_1fr] h-full bg-transparent transition-all group relative gap-3 pb-3"
            >
              <div class="absolute bottom-0 left-0 w-full h-[1px] flex">
                <div class="w-1/3 theme-group-hover-border group-hover:w-full group-focus-within:w-full transition-all" />
                <div class="w-2/3 bg-gray-400 dark:bg-white" />
              </div>

              <a href={`/blogs/${blog.slug}`} class="w-fit h-fit">
                <h2
                  id={blog.slug}
                  class="text-xl row-start-2 line-clamp-2 theme-group-hover-text theme-color"
                >
                  {blog.title}
                </h2>
              </a>
              {blog.tags && blog.tags.length > 0 && (
                <div class="row-start-3">
                  {blog.tags.map((blogTag) => (
                    <a
                      href={`/tags/${blogTag.slug}`}
                      class="text-center px-2 py-1 border border-purple-800 dark:border-custom-purple dark:text-white theme-color-hover text-xs md:text-sm"
                    >
                      #{blogTag.name}
                    </a>
                  ))}
                </div>
              )}
              {blog.category && (
                <a
                  href={`/category/${blog.category.slug}`}
                  class="dark:border-white dark:text-white text-xs md:text-sm flex items-center gap-1 w-fit"
                >
                  <FolderIcon alt="カテゴリ" />
                  {blog.category.fullName}
                </a>
              )}
              <p class="theme-color text-xs md:text-sm flex items-center gap-1">
                <ClockIcon alt="公開日" />
                <FormattedDate date={blog._sys.raw.publishedAt} />
              </p>
              <a
                href={`/blogs/${blog.slug}`}
                class="row-start-1 mb-4 relative overflow-hidden max-w-full"
              >
                {blog.coverImage && (
                  <Image
                    src={blog.coverImage.src}
                    width={blog.coverImage.width}
                    height={blog.coverImage.height}
                    fetchpriority="high"
                    loading="eager"
                    format="avif"
                    alt=""
                    class="w-full h-auto object-cover object-center transition-transform group-hover:scale-110"
                  />
                )}
                <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity">
                  <span class="text-white text-lg font-bold transform translate-y-1 group-hover:translate-y-0 group-focus-within:translate-y-0 transition-transform">
                    記事を読む
                  </span>
                </div>
              </a>
            </article>
          </div>
        ))}
      </div>
    ))
  }
</div>
